* {
  margin: 0;
}

body {
  position: relative;
  margin: 0;
  font-family: 'Karla', sans-serif;
}

header {
  display: flex;
  position: sticky;
  height: 5rem;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  padding-left: 2rem;
  justify-content: space-between;
}

.header--logo {
  display: flex;
  align-items: center;
}

.header--image {
  width: 3rem;
  height: 2.5rem;
}

.header--title {
  color: #FFFFFF;
  margin-left: 0.5rem;
}

.header--subtitle {
  color: #FFFFFF;
  padding-right: 2rem;
}

main {
  padding: 36px;
  display: flex;
  justify-content: center;
}

.form--container {
  display: grid;
  grid-template-columns: auto auto;
  align-content: center;
  justify-content: center;
  max-width: 30%;
}

.form--inputField {
  width: 230px;
  padding: 0.7rem 0.5rem;
  border: 1px solid #D5D4D8;
  border-radius: 5px;
  margin: 6px
}

.form--submitBtn {
  grid-column: span 2;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border-radius: 5px;
  color: #ffffff; 
  font-weight: 700;
  font-size: 16px;
  padding: 0.5rem 1rem;
  border: none;
  margin-top: 5px;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
}

.meme {
  position: relative;
  margin-top: 5rem;
  left: 50%;
}

.meme > .form--meme-image {
  max-width: 100%;
}

.meme > .meme--text {
  position: absolute;
  padding: 0 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}
