* {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0px;
}

.nav-block {
    display: flex;
    padding: 30px 25px;
    background-color: #21222A;
    justify-content: space-between;
}

.page-title {
    display: flex;
    align-items: center;
    color: #00D8FF;
    font-size: 22.5px;
    font-weight: bold;
}

.page-title .title {
    padding-left: 6px;
}

.menu-container {
    display: flex;
}

.menu-container .menu p {
    color: #DEEBF8;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}