* {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0px;
}

.app {
    height: 100vh;
}

.light-app {
    background-color: #fff;
}

.dark-app {
    background-color: #282D35;
}

.nav-block {
    display: flex;
    padding: 30px 25px;
    justify-content: space-between;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.521);
}

.dark-mode {
    background-color: #21222A;
}

.light-mode {
    background-color: #fff;
}

.light-mode .menu-container--dark-mode-text {
    color: rgb(122 118 118);
}

.light-mode .menu-container--light-mode-text {
    color: #000;
}

.dark-mode .menu-container--dark-mode-text {
    color: #fff;
}

.dark-mode .menu-container--light-mode-text {
    color: rgb(122 118 118);
}

.light-mode .menu p {
    color: #000;
}

.dark-mode .menu p {
    color: #DEEBF8;
}

.page-title {
    display: flex;
    align-items: center;
    color: #00D8FF;
    font-size: 22.5px;
    font-weight: bold;
}

.page-title .title {
    padding-left: 6px;
}

.menu-container {
    display: flex;
    align-items: center;
}

.menu-container--mode-btn {
    padding: 0 10px;
    cursor: pointer;
}

.menu-container-mode-box {
    display: flex;
    align-items: center;
    font-size: small;
    margin-right: 1rem;
}

.menu {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}

.light-main h1{
    color: #000;

}
.light-main .points-block {
    color: #000;
}

.dark-main h1{
    color: #fff;

}
.dark-main .points-block {
    color: #fff;
}

.main-block {
    padding: 80px 35px;
    position: relative;
    background-image: url(../public/images/reactjs-icon\ 2.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}

.main-block > h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 39.06px;
    line-height: 47px;
    letter-spacing: -0.05em;
    margin: 0;
}

ul {
    list-style: disc;
}

ul li {
    padding-block: 10px;
    max-width: 400px;
}

ul li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}

.points-block {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

