* {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
}

.App {
  padding-bottom: 10rem;
}

nav {
  min-height: 55px;
  width: 100%;
  background-color: #F55A5A;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14.4608px;
  line-height: 18px;
  color: #fff;
  padding: 10px;
}

.card {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.card--location-pic {
  width: 20rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 10px;
}

.location--pointer {
  margin-right: 0.5em;
  height: 12px;
  width: 9px;
}

.location--name {
  font-weight: 400;
  letter-spacing: 0.17em;
  margin-right: 0.17em;
}

.card--details {
  padding: 2rem;
  max-width: 40%;
}

.card--details > p {
  line-height: 150%;
  font-weight: 400;
}

.card--location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}

.card--location > a {
  text-decoration-line: underline;
  color: #918E9B;
  font-weight: 400;
}

.card--duration {
  font-weight: bold;
  font-size: 10.24px;
  line-height: 12px;
}